@tailwind base;
@tailwind components;
@tailwind utilities;
/* Hide the scrollbar in all browsers */
/* Note: this will only work in WebKit-based browsers with a prefix */
::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar in Firefox */
/* Note: this is not necessary if you're using the WebKit-based approach above */
body {
  scrollbar-width: none; /* Firefox 64+ */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}
